<extend name="./Public/html/index.html" />
<block name="adminnav">
<?php foreach($tree as $key => $value): ?>
        <li>
          <h4 class="M1"><span></span>{$value.title}</h4>
          <div class="list-item none">
          <?php foreach($value['_data'] as $k=>$v):?>
            <a href='/{$v.name}'>{$v.title}</a>
          <?php endforeach ?>
          </div>
        </li>
<?php endforeach ?>
</block> 
<block name="mianbaoxie">
          <ul>
              <!-- <li><img src="__IMG__/home.png"></li> -->
                <li style="margin-left:25px;">您当前的位置：</li>
                <li><a href="#">礼品卡管理</a></li>
                <li><a href="#">></a></li>
                <li><a href="#">领取记录</a></li>
            </ul>
</block>  


<block name='neirong'>
      <div class="contain">
      	<div class="row">
      		<div class="col-md-10 col-md-offset-1">
          
<table class="table table-bordered">
  <caption>
<div class="row">


<!--   <div class="col-md-10">
<div class="btn-group">
  <div class="btn-group">

  <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      按客户名查询
      <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
  <volist name="data.user" id="row" key='k'>
      <li><a href="/Admin/Shop/shopuserlist?u={$key}">{$row.realname}</a></li>
  </volist>
  </ul>
  </div>

</div>
  
</div>

</div> -->
  </caption>


  <thead>
    <tr>
      <th class="text-center">序号</th>
      <th class="text-center">礼品卡号</th>
      <th class="text-center">礼品卡金额</th>
      <th class="text-center">领取人</th>
      <th class="text-center">领取时间</th>
    </tr>
  </thead>
  <tbody>
<volist name="data.list" id="row" key='k'>
<tr>
      <td class="text-center">{$k}</td>
      <td class="text-center" style="color:red;">{$row.giftcard}</td>
      <td class="text-center">{$row.giftprice}</td>
      <td class="text-center" style="color:red;">{$_SESSION[md5('admin')]['realname']}</td>
      <td class="text-center">{$row.pubdate|date='Y-m-d H:i',###}</td>
</tr>
</volist>
  </tbody>
</table>
<div class="text-center">{$data.page}</div>
<div style="height:30px"></div>

      		</div>
      	</div>
      </div>    
</block>