<extend name="./Public/html/index.html" />
<block name="adminnav">
<?php foreach($tree as $key => $value): ?>
        <li>
          <h4 class="M1"><span></span>{$value.title}</h4>
          <div class="list-item none">
          <?php foreach($value['_data'] as $k=>$v):?>
            <a href='/{$v.name}'>{$v.title}</a>
          <?php endforeach ?>
          </div>
        </li>
<?php endforeach ?>
</block> 
<block name="mianbaoxie">
          <ul>
              <!-- <li><img src="__IMG__/home.png"></li> -->
                <li style="margin-left:25px;">您当前的位置：</li>
                <li><a href="#">任务管理</a></li>
                <li><a href="#">></a></li>
                <li><a href="#">已完成任务</a></li>
            </ul>
</block>  


<block name='neirong'>
      <div class="contain">
      	<div class="row">
      		<div class="col-md-10 col-md-offset-1">
          
<table class="table table-bordered">
  <caption>
<div class="row">


  <div class="col-md-6 col-md-offset-4">
    <div class="form-group">
              

</div>
  </caption>


  <thead>
    <tr>
      <th class="text-center">序号</th>
      <th class="text-center">店铺</th>
      <th class="text-center">商品</th>
      <th class="text-center">发布时间</th>
      <th class="text-center">状态</th>
      <th class="text-center">接收率</th>
      <th class="text-center">完成率</th>
    </tr>
  </thead>
  <tbody>
<volist name='data.list' id='row' key='k'>
<tr>
      <td class="text-center" style="height:100px;line-height: 100px;">{$k}</td>
      <td class="text-center" style="height:100px;line-height: 100px;color: green;">{$row.shopname}</td>
      <td class="text-center"><a href="/Admin/Task/tasklistcont?i={$row.taskid}"><img src="{$row.img}" style="width:100px;height:100px;" alt=""></a></td>
       <td class="text-center" style="height:100px;line-height: 100px;color:red;">{$row.onetime}</td>
      <td class="text-center" style="height:100px;line-height: 100px;color:red;">{$row.status}</td>
      <td class="text-center" style="height:100px;line-height: 100px;color: red;">{$row.acceptance}</td>
      <td class="text-center" style="height:100px;line-height: 100px;color: green;">{$row.done}</td>
</tr>
</volist>
  </tbody>
</table>
<div class="text-center">{$data.page}</div>
<div style="height:30px;"></div>

      		</div>
      	</div>
      </div>    
</block>